@import "tailwindcss";

@theme {
  /*font*/
  --font-PThin: Pretendard-Thin;
  --font-PExtraLight: Pretendard-ExtraLight;
  --font-PLight: Pretendard-Light;
  --font-PRegular: Pretendard-Regular;
  --font-PMedium: Pretendard-Medium;
  --font-PSemiBold: Pretendard-SemiBold;
  --font-PBold: Pretendard-Bold;
  --font-PExtraBold: Pretendard-Bold;
  --font-PBlack: Pretendard-Black;

  /*colors*/
  --color-main: #0f9d58;
  --color-second: #fffed9;
  --color-Title: #121212;
  --color-sub: #aeaeae;
  --color-homeBorder: #284f32;
}

@font-face {
  font-family: "Pretendard-Thin";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}

@layer components {
  body {
    @apply font-PRegular;
  }

  h1 {
    @apply font-PBold text-5xl;
  }

  h2 {
    @apply font-PBold text-4xl;
  }
  h3 {
    @apply font-PSemiBold text-3xl;
  }
  h4 {
    @apply font-PSemiBold text-2xl;
  }
  h5 {
    @apply font-PSemiBold text-xl;
  }

  li {
    @apply list-inside list-disc;
  }
}


@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-3px); } 
  100% { transform: translateY(0); }
}


.float {
  animation: float 5s ease-in-out infinite; 
}
